*{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: contain;
    background-image: url('./images/paper.jpg');
}

.header{
    text-align: center;
}

.content{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.container{
    width:  654px;
    height: 654px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.column{
    flex: 1;
}
.grid-cell{
    border: 0.1px solid rgba(1, 1, 1, 0.50);
    background-color: transparent;
}


.customizations{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.btn{
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn-hover:hover{
    background-color: #3e8e41;
}

.btn-active:active{
    transform: translateY(4px);
}

.grid-size{
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #4CAF50;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 24px;
}

.grid-size-range{
    cursor: grab;
    width: 200px;
}

.footer{    
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: black;
}

.footer p, .footer a{
    color: white;
}